# This is Git's per-user configuration file.
[user]
 	name = xfnw
 	email = xfnw@riseup.net
	signingkey = A75FA9A87E447AE0
[init]
	defaultBranch = main
[sendemail]
	smtpencryption = ssl
	smtpserver = mail.riseup.net
	smtpuser = xfnw@riseup.net
	annotate = true
[alias]
	psuh = push
	br = !git log --oneline | head
	has = merge-base --is-ancestor
	quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	fetch-notes = !"git fetch ${1:-origin} $2refs/notes/*:refs/notes/* #"
	bundle-most = !git for-each-ref --include-root-refs --exclude REBASE_HEAD --exclude ORIG_HEAD --exclude refs/stash --exclude refs/remotes --format '%(refname)' | git bundle create
	cov = branch --edit-description
	diffv = !"git diff $@ ':(exclude)*/.cargo-checksum.json' ':(exclude)*/Cargo.lock' ':(exclude)*/.cargo_vcs_info.json' #"
[commit]
	verbose = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[branch]
	sort = committerdate
[rerere]
	enabled = true
[format]
	coverFromDescription = auto
	notes = true
[notes]
	rewriteRef = refs/notes/commits
[mergetool "rustfmt"]
	cmd = rustfmt-mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
