# This is Git's per-user configuration file.
[user]
 	name = xfnw
 	email = xfnw@riseup.net
	signingkey = A75FA9A87E447AE0
[init]
	defaultBranch = main
[sendemail]
	smtpencryption = tls
	smtpserver = mail.riseup.net
	smtpuser = xfnw@riseup.net
	smtpserverport = 587
[alias]
	psuh = push
	br = !git log --oneline | head
	quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	fetch-notes = !"git fetch ${1:-origin} $2refs/notes/*:refs/notes/* #"
[commit]
	verbose = true
[pull]
	ff = only
